<body>
  <h1>
    Attack Page
  </h1>

  <% if @users.any? %>
    <div class="row">
      Rank [WiP] - Username  - - - Army Size - - - Current Gold
    </div>
    <% @users.each do |user| %>
    <div class="row">
      =Rank= - <%= link_to user.username, user_path(user) %> <%= link_to '[Attack]', attack_user_path(user), method: 'post', locals: {session[:attack_turns] = 15} %> [spy] [sabotage] - - - <%= user.army_size %> - - - <%= user.total_gold %>
    </div>
    <% end %>
  <% end %>
</body>
